<div class="bg-gray-200 dark:bg-slate-800 dark:text-gray-50 p-5">
    <div>
      <div>
        <label for="subCategory" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nome da subcategoria:</label>
        <input [(ngModel)]="subCategory" type="text" id="subCategory" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
      </div>
      <div>
        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descrição:</label>
        <textarea [(ngModel)]="description" type="text" id="description" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required></textarea>
      </div>
    </div>
    <div class="mt-5 flex justify-end">
      <button (click)="createCategory()" type="button" class="text-green-600 hover:text-white border border-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Criar</button>
    </div>
  </div>
  