mat-paginator{
    background-color: var(--primary-ligth);
    color: var(--text);
    fill: var(--text);
}

span.mat-mdc-button-touch-target{
    color: var(--text);
}

mat-paginator.mat-mdc-text-field-wrapper{
    background-color: (--primary-ligth);
}