table{
  color: var(--text);
  td{
    padding: 5px;
    color: var(--text);
    background-color: var(--primary-ligth);
  }

  th{
    color: var(--text);
    background-color: var(--menu);
  }
}


.table-fixed{
  table-layout: fixed;
  width: 100%;
  height: 80%;
}

.table-fixed .thead{
  position: sticky;
  top: 0;
  z-index: 1;
  align-content: center;
}

