<div class="w-full h-full p-5 bg-gray-100 dark:bg-gray-700">
  <h5 class="text-2xl text-gray-700 dark:text-gray-100 font-normal text-center">Convidar novo integrante</h5>


  <div>
    <label class="block text-gray-700 dark:text-gray-300 font-bold mt-5">Nome</label>
    <input type="text" class="w-full mt-5 p-3 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" [(ngModel)]="name" placeholder="Nome do convidado"/>
  </div>
  <div>
    <label class="block text-gray-700 dark:text-gray-300 font-bold mt-5">Email</label>
    <input type="text" class="w-full mt-5 p-3 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700" [(ngModel)]="email" placeholder="Email do convidado"/>
  </div>

  <div class="flex items-center justify-end mt-5">
    <button (click)="clickToCloseDialog()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Cancelar
    </button>

    <button (click)="clickToSendInvite()" class="ml-2 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
      Convidar
    </button>
  </div>


</div>
