
<mat-table #table [dataSource]="dataSource">

  <ng-container matColumnDef="cod">
      <mat-header-cell *matHeaderCellDef>Cod .</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id | truncate: 6}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="image">
      <mat-header-cell *matHeaderCellDef> Imagem </mat-header-cell>
      <mat-cell *matCellDef="let element">
        @if(element.image){
          <img [src]="element.image" alt="Imagem do produto" width="60" height="60" class="object-cover rounded-lg">
        }
      </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Preço </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price | currency:'BRL' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <button [matMenuTriggerFor]="menu" mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>more_vert</mat-icon>
            </button>
    
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="openDialogEditProduct(element)">
                Alterar
              </button>
    
              <button disabled="true" mat-menu-item>
                Excluir
              </button>
    
            </mat-menu>
      </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>