<div class="">
  <h5 class="mb-5 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Selecione uma categoria para eidtar ou vizualizar detalhes</h5>
  <div>
    <select id="categoryList" (change)="selectedCategory($event)" class="block w-full px-4 py-3 text-base text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option selected>...</option>
      @for (category of categories; track category.id){
        <option [value]="category.id">{{category.name}}</option>
      }
    </select>
  </div>
</div>
